.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    cursor: pointer;
    font-size: 48px
}